<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Plankton.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <Plankton.Properties.Settings>
            <setting name="UseZoomPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAutoPanOnZoomPreview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaximumZoom" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MinimumZoom" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoPanSpeed" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="AutoPanSensitivity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RefreshTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UseEfficientValuesWhenRandomGenerating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSmoothMousePositionUpdating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomPreviewSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IfMainBubbleNotAvailablePreviewMostInterestingElement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOnlyStandardBrushesWhenRandomGenerating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomPreviewLocatorMode" serializeAs="String">
                <value>AnythingButMainBubble</value>
            </setting>
            <setting name="ShowCurrentIndicator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAnimation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaintainStandardPhysicsWhenRandomGeneratingSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseZoomPreviewBlurEffect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaximumZoomPreviewBlur" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ZoomPreviewBlurStrength" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ZoomPreviewBlurCorrection" serializeAs="String">
                <value>0.15</value>
            </setting>
        </Plankton.Properties.Settings>
    </userSettings>
</configuration>
